@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.container {
    max-width: 80%;
    margin: auto;

    .header {
        text-align: center;
        font-size: 2rem;
        margin-top: 30px;
        font-family: 'Zilla Slab', serif;
        height: 5vh;

        img {
            height: 2rem;
        }
    }

    .switch {
        height: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'PT Sans Narrow', sans-serif;
        text-transform: uppercase;
        span.switcher {
            position: relative;

            width: 10rem;
            height: 2.5rem;
            border-radius: 1.25rem;
            margin: 20px 0;

            input {
                appearance: none;

                position: relative;

                width: 10rem;
                height: 2.5rem;
                border-radius: 1.25rem;

                background-color: black;
                outline: none;

                font-family: 'Oswald', sans-serif;

                &:before,
                &:after {
                    z-index: 2;

                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);

                    color: white;
                }

                &:before {
                    content: 'ARCADE';
                    left: 1rem;
                }

                &:after {
                    content: 'TIME';
                    right: 1rem;
                }
            }

            label {
                z-index: 1;
                position: absolute;
                top: 0.5rem;
                bottom: 0.5rem;

                border-radius: 1rem;
            }

            &.switcher-1 {
                input {
                    transition: .25s -.1s;

                    &:checked {
                        background-color: white;

                        &:before {
                            color: white;
                            transition: color .5s .2s;
                        }

                        &:after {
                            color: grey;
                            transition: color .5s;
                        }

                        &+label {
                            left: 0.5rem;
                            right: 5rem;

                            background: black;

                            transition: left .5s, right .4s .2s;
                        }
                    }

                    &:not(:checked) {
                        background: black;
                        transition: background .5s -.1s;

                        &:before {
                            color: grey;
                            transition: color .5s;
                        }

                        &:after {
                            color: black;
                            transition: color .5s .2s;
                        }

                        &+label {
                            left: 5rem;
                            right: 0.5rem;

                            background: white;

                            transition: left .4s .2s, right .5s, background .35s -.1s;
                        }
                    }
                }
            }
        }
    }

    .center-text {
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'PT Sans Narrow', sans-serif;
        text-transform: uppercase;

        .words {
            border: 1px solid grey;
            border-radius: 1rem;
            padding: 0 15px;
        }

        .words.active {
            background-color: black;
            color: white;
            font-size: 3rem;
        }

        .words.completed {
            background-color: green;
            color: lightgoldenrodyellow;
        }

        .words.active.error {
            background-color: red;
            color: white;
        }
    }

    .notification-area {
        height: 5vh;
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
        text-align: center;
        font-family: 'PT Sans Narrow', sans-serif;

        .left {
            float: left;
        }

        .right {
            float: right;
        }
    }

    .typing-area {
        height: 20vh;
        width: 90%;
        margin: auto;

        #typer {
            width: 100%;
            height: 4rem;
            border-radius: 1rem;
            text-align: center;
            font-size: 2rem;
            font-family: 'Zilla Slab', serif;
            text-transform: uppercase;
        }
    }
}

.overlay {
    pointer-events: all;
    z-index: 99999;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    cursor: wait;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    .loader {
        margin: auto;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid red;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {
    .notification-area {

        .left,
        .right {
            display: none;
        }
    }

    .center-text {
        height: 50vh !important;
        align-items: flex-end !important;
        padding-bottom: 40px;
        ;

        .words:not(.active) {
            display: none;
        }

        .words.active {
            font-size: 7vw !important;
            word-break: break-all;
        }

    }
}