@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.container {
    width: 80%;
    margin: auto;

    .header {
        text-align: center;
        font-size: 2rem;
        margin-top: 30px;
        font-family: 'Zilla Slab', serif;
    }

    .center-text {
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'PT Sans Narrow', sans-serif;
        text-transform: uppercase;

        .words {
            border: 1px solid grey;
            border-radius: 1rem;
            padding: 0 15px;
        }

        .words.active {
            background-color: black;
            color: white;
            font-size: 3rem;
        }

        .words.completed {
            background-color: green;
            color: lightgoldenrodyellow;
        }

        .words.active.error {
            // animation: lower_head;
            // animation-timing-function: ease-in;
            // animation-duration: 3s;
            // animation-delay: 0.5s;
            animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both infinite;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            animation-play-state: running;
            background-color: red;
            color: white;
        }
    }

    .typing-area {
        width: 90%;
        margin: auto;

        #typer {
            width: 100%;
            height: 4rem;
            border-radius: 1rem;
            text-align: center;
            font-size: 2rem;
            font-family: 'Zilla Slab', serif;
            text-transform: uppercase;
        }
    }
}

@keyframes lower_head {
    from {
        color: yellow
    }

    to {
        color: black;
    }
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}